<section class="page_title">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
          <li class="breadcrumb-item active">Blogs</li>
        </ul>
      </div>
    </div>
  </div>
</section>




<section class="our_blog home_section">
  <div class="container">
    <h3 class="home_title">RoadRunners Blog</h3>
    <ul class="blog_list">
      <li *ngFor="let blogs of allBlogs.data">
        <div class="blog_img"><img src="http://localhost:3000/{{ blogs.blogs_image }}"></div>
        <div class="blog_title">
          <h5><a [routerLink]="['blog-detail', blogs.blogs_id ]"> {{blogs.blogs_title}}</a></h5>
        </div>
        <div class="blog_author">By {{blogs.User.first_name}} {{blogs.User.last_name}}</div>
        <div class="blog_des" [innerHTML]="blogs.blogs_description | slice:0:150"> </div>
      </li>
    </ul>
  </div>
</section>

<div class="nav-links"><span aria-current="page" class="page-numbers current">1</span>
  <a class="page-numbers" href="https://roadrunners.in/blog/page/2/">2</a>
  <a class="next page-numbers" href="https://roadrunners.in/blog/page/2/"><span class="nav-next-text">Older posts</span>
    <svg class="svg-icon" width="22" height="22" aria-hidden="true" role="img" focusable="false"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg></a></div>