<section class="page_title">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink='/home'>Home</a></li>
            <li class="breadcrumb-item active">Register</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section style="margin-top:50px; margin-bottom:50px;">

    <div class="container">

        <div class="offset-md-3 col-md-6" style="background-color:#f1f3f9; border-radius:5px; padding:20px;">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" formControlName="firstname">
                        <span class="help-block"
                            *ngIf="!signupForm.get('firstname').valid  && signupForm.get('firstname').touched">This
                            field is required!</span>
                    </div>
                    <div class=" form-group col-md-6">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" formControlName="lastname">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="username">Username*</label>
                        <input type="text" class="form-control" id="username" formControlName="username">
                        <span class="help-block"
                            *ngIf="!signupForm.get('username').valid  && signupForm.get('username').touched">
                            <span *ngIf="signupForm.get('username').errors['nameIsForbidden']">This name is already
                                taken
                            </span>
                            <span *ngIf="signupForm.get('username').errors['required']">
                                This field is required!
                            </span>
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">E-mail Address</label>
                        <input type="email" class="form-control" id="email" formControlName="email">
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="password">Password*</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="cfpassword">Confirm Password*</label>
                        <input type="password" class="form-control" id="cfpassword">
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dob">Birth Date</label>
                        <input type="date" class="form-control" id="dob" formControlName="dob">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Gender</label><br />

                        <div class="radio" style="display:inline-block">
                            <label><input type="radio" style="display:inline-block" value="male"
                                    formControlName="gender"> Male</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" style="display:inline-block" value="female"
                                    formControlName="gender"> Female</label>
                        </div>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="mobile">Mobile Number</label>
                        <input type="number" class="form-control" id="mobile" formControlName="mobile">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="country">Country</label>
                        <select id="country" class="form-control" formControlName="country" *ngFor="let country of allCountry.data" (change)="onChangeCountry($event.target.value)">
                            <option [value]="[country.country_id]" >{{ country.country_name }}</option>
                        </select>
                    </div>
                </div>
                
                <h4>{{allState}}</h4>
                <div class="form-row">
                    <div class="form-group col-md-6" >
                        <label for="state">State</label>
                        <select id="state" class="form-control" formControlName="state" (change)="onChangeState($event.target.value)">
                            <div *ngIf="allState">
                                <option value="">Select</option>
                                <option *ngFor = "let state of allState.data" [value]="[state.state_id]" >{{ state.state_name }}</option>
                            </div>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="city">City</label>
                        <select id="city" class="form-control" formControlName="city">
                            <!-- <option value="" selected="selected"></option> -->
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pincode">Pin Code</label>
                        <input type="number" class="form-control" id="pincode" formControlName="pincode">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="fitnessgroup">fitness group</label>
                        <select id="fitnessgroup" class="form-control" formControlName="fitnessgroup">
                            <option *ngFor="let fitnessgroup of allFitnessGroups.data" [ngValue]="fitnessgroup.fitness_group_id" >{{ fitnessgroup.fitness_group_name }}</option>
                            </select>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" id="company" formControlName="company">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class="form-group col-md-8" style="padding-top:10px;">
                        Already have an account? <a routerLink= '/login'
                            style="font-size:18px; font-weight:500; color:#e31420">Login</a> here </div>
                </div>
            </form>
        </div>
    </div>
</section>