<section class="page_copyright">
<div class="newsletter_wrap">
  <div class="container" style="border-top-width: 0px;">
      <div class="newsltr_left">
          <h3>Newsletter</h3>
          <p>Get timely updates <br> from your favorite products</p>
      </div>
      <div class="newsltr_rght">
          <form>
              <div class="mc4wp-form-fields">
                  <input type="email" name="EMAIL" placeholder="Enter your email" required />
                  <input type="submit" value="Sign up" />
              </div>
          </form>
      </div>
  </div>
</div>

<footer class="page_footer" style="
padding-top: 0px;
">
  <div class="container" style="border-top-width: 0px;" >
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="footer_logo">
          <a href="#" class="footer_logo">
            <img src="/assets/images/Road-Runner-logo.png" alt="Road Runners">
          </a>
        </div>
        <div class="footer_social">
          <ul>                            
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3  col-6 footer_menu">
        <h2>Quick Links</h2>
        <div class="menu-footer-container">
          <ul>
            <li><a href="index.html" aria-current="page">Home</a></li>
            <li><a href="index.html" aria-current="page">Event List 2020</a></li>
            <li><a href="index.html" aria-current="page">Blog</a></li>
          </ul>
        </div>						
      </div>

      <div class="col-lg-3  col-6 footer_menu">
        <h2>Shop</h2>
        <div class="menu-footer-container">
          <ul>
            <li><a href="index.html" aria-current="page">Forum</a></li>
          </ul>
        </div>						
        <h2>For Non Starava User</h2>
        <div class="menu-footer-container">
          <ul>
            <li><a href="index.html" aria-current="page">Post Activity</a></li>
          </ul>
        </div>						
      </div>
    </div>
  </div>
</footer>


  <div class="container text-center">
    <p>© Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
  </div>
</section>