<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet"> -->

<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">    <section class="page_topline ds s-py-10 c-my-10"> -->
      
<!-- <div class="newsletter_wrap">
    <div class="container">
        <div class="newsltr_left">
            <h3>Newsletter</h3>
            <p>Get timely updates <br> from your favorite products</p>
        </div>
        <div class="newsltr_rght">
          <form>
            <div class="mc4wp-form-fields">
        <input type="email" name="EMAIL" placeholder="Enter your email" required />
        <input type="submit" value="Sign up" />
      </div>
    </form>
  </div>
    </div>
</div>


<footer class="page_footer">
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-12">
      <div class="footer_logo">
        <a href="#" class="footer_logo">
          <img src="../images/Road-Runner-logo.png" alt="Road Runners">
        </a>
      </div>
      <div class="footer_social">
        <ul>                            
          <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3  col-6 footer_menu">
      <h2>Quick Links</h2>
      <div class="menu-footer-container">
        <ul>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
        </ul>
      </div>						
    </div>

    <div class="col-lg-3  col-6 footer_menu">
      <h2>Shop</h2>
      <div class="menu-footer-container">
        <ul>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
          <li><a href="index.html" aria-current="page">Home</a></li>
        </ul>
      </div>						
    </div>
  </div>
</div>
</footer>

<section class="page_copyright">
<div class="container text-center">
  <p>© Copyright <span class="copyright_year">2020</span> All Rights Reserved</p>
</div>
</section>
</div> -->

<!-- SCRIPT -->
<!-- <script src="/../js/jquery-3.2.1.min.js"></script>
<script src="/../js/bootstrap.min.js"></script>
<script type="text/javascript" src="/../js/compressed.js"></script>
<script type="text/javascript" src="/../js/main.js"></script>  -->
