<section class="top_perform1 home_section">
      <div class="container">
            <div class="perform_list_inner">
                  <ul>
                        <li style="margin: 5px;" *ngFor = "let users of userData.data ">
                              <div><img src="/assets/images/01.jpg"></div>
                              <h4><a href="#">{{ users.first_name }} {{ users.last_name }}</a></h4>
                        </li>  
                  </ul>
            </div>
      </div>
</section>